{% include header.html %}
		<body>
			<nav>
	    		<ul>
        		<li><a href="/">QBI Software</a></li>
	        	<li><a href="{{ site.github.repository_url }}/setup">Setup</a></li>
        		<li><a href="{{ site.github.repository_url }}/lesson/intro">Lesson:Intro</a></li>
        		<li><a href="{{ site.github.repository_url }}/lesson/model">Lesson:Models</a></li>
        		<li><a href="{{ site.github.repository_url }}/lesson/network">Lesson:Network</a></li>
    		</ul>
			</nav>

    <section class="page-header">
      <h1 class="project-name">NEURON Tutorial</h1>
      <h2 class="project-tagline">QBI Software presents an introductory tutorial to NEURON for neuroscientists.</h2>
    </section>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
  <div class="row">
    <div class="col-md-6" align="left">
      <h4>
	Copyright &copy; 2017 Queensland Brain Institute
      </h4>
    </div>
    <div class="col-md-6" align="right">
      <h4>
	<a href="{{ site.github.repository_url }}/">Source</a>
	|
	<a href="mailto:{{ site.email }}">Contact</a>
      </h4>
    </div>
  </div>
</footer>
		</body>
	</html>
