<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
		
		</head>
		<body>
			<nav>
	    		<ul>
        		<li><a href="/">QBI Software</a></li>
	        	<li><a href="{{ site.github.repository_url }}/setup">Setup</a></li>
        		<li><a href="{{ site.github.repository_url }}/lesson/intro">Lesson:Intro</a></li>
        		<li><a href="{{ site.github.repository_url }}/lesson/model">Lesson:Models</a></li>
        		<li><a href="{{ site.github.repository_url }}/lesson/network">Lesson:Network</a></li>
    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
  <div class="row">
    <div class="col-md-6" align="left">
      <h4>
	Copyright &copy; 2017 Queensland Brain Institute
      </h4>
    </div>
    <div class="col-md-6" align="right">
      <h4>
	<a href="{{ site.github.repository_url }}/">Source</a>
	|
	<a href="mailto:{{ site.email }}">Contact</a>
      </h4>
    </div>
  </div>
</footer>
		</body>
	</html>
